body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px;
}

.event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px;
    padding: 8px;
    width: 350px;
    text-align: center;
}

.event-card h2 {
    font-size: 1.5em;
    color: #333;
}

.event-card img {
    max-width: 100%;
    border-radius: 8px;
}

.event-card button {
    background-color: #520000;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.event-card button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.event-card button:active {
    background-color: #004494;
    transform: translateY(0);
}

.search-bar {
    margin: 24px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}